html{
    
}
body {
    background-color: antiquewhite;
}

/*reset */
html, body, div, article, p, ul, h3, h4 {
    margin: 0;
    padding: 0;
}

p, ul, h3, h4 {
    margin: 10px;
}

.list__list-item{
    font-family: 'Roboto', sans-serif;
}

.list__lists-item{
    font-family: 'Spirax', cursive;
}


.artist{
    font-family: 'Notable', sans-serif;
}

.color{
    color: #243;
}

.colors{
    color: #765;
}

.album{
    font-family: 'Roboto Mono', monospace;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
}

.cover{
    width: 400px;
    float: left;
    margin: 2em;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.cover article{
    position: relative;
    background-color: rgba(255,255,255,0.7);
    height: 404px;
    font-size: .9em;
    padding: 1em;
    margin-top: 0;
    animation: naar-beneden 1s forwards;

}

.cover:hover article {
        margin-top: -404px;
        cursor: pointer;
        animation: naar-boven .8s forwards
    }
@-webkit-keyframes naar-beneden {
        10% {margin-top: -404px}
        30% {margin-top: -152px}
        50% {margin-top: -76px}
        70% {margin-top: -38px}
        90% {margin-top: -19px}
        20%, 40%, 60%, 80%, 100% {margin-top: 0} 
    }

@-webkit-keyframes naar-boven {
       10% {margin-top:0}
       30% {margin-top: -150px}
       50% {margin-top: -225px}
       70% {margin-top: -270px}
       90% {margin-top: -290px}
       20%, 40%, 60%, 80%, 100% {margin-top: -404px} 
    }
.cover article h3, .cover article h4, .cover article p{
        padding: .3em;
    }